.container{
    margin-top: 10px;
    height: 50px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    height: 20px;
    width: 4%;
    background-color: rebeccapurple;
}